<h1>Information</h1>

<h1><%= @location[:country] %></h1>

<p>Capital: <%= @location[:capital] %></p>
<p>Fun Fact: <%= @location[:fun_fact] %></p>

<%= link_to 'Back to Locations Index', locations_path %>
